@import '../variables.css';

.background-logo {
    height: 70vw;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.15;
}
