@import '../variables.css';

.card {
    background: var(--glass-bg);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid var(--glass-border);
}
