@import '../variables.css';

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

.modal-content {
    background: rgba(255, 255, 255, 0.13);
    padding: 25px;
    width: 90%;
    max-width: 500px;
    max-height: 85vh;
    margin: 5vh auto;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    animation: popIn 0.3s ease;
    overflow-y: auto;
}

@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
